# IDE & OS specific
.idea/
.vscode/
*.DS_Store
/nbproject/

# Build artifacts
/backend/build/
/frontend/dist/
/frontend/node_modules/

# Log files
*.log

.env 

/db/data/
/.vs/TeamProj/FileContentIndex/3167e8e1-8de8-4944-8ef1-a88b3bfc3b60.vsidx
node_modules/
