@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    word-break: keep-all;
  }
}

@layer utilities {
  @keyframes progress-bar {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .animate-progress-bar {
    animation: progress-bar 1.5s infinite linear;
  }
}
